In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('final_df.csv', index_col='TIME')
df.head(1)

                           ACTUAL_MW  DAM_MW  2DA_MW   temp
TIME
2021-03-26 11:00:00+00:00      279.0  289.85   289.2  57.02

In [3]:
actual_data = df[['ACTUAL_MW', 'temp']]
actual_data.head(1)

                           ACTUAL_MW   temp
TIME
2021-03-26 11:00:00+00:00      279.0  57.02

In [ ]:
[[
    -0.25
    -0.25
    1
    -0.25
    -0.25
]]